    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  /* inter-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/work-sans-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
    *{
        box-sizing: border-box;
    }
    body{
      width: auto;
        margin: 0 auto;
        background-color: #212529;
    }
    .header{
        position: relative;
        margin: 0 auto;
    }
    .logo{
        display: flex;
        justify-content: left;
        position: absolute;
        left: 50px;
        top: 17px;
}

.nav{
    margin: 0 auto;
    max-width: 500px;
    height: 47px;
    position: relative;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 35px;
    right: 25px;
}
.nav-menu-link{
margin-right: 25px;
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.link-text{
    color: #fff;
    text-decoration: none;
}
.link-text:hover{
  color: #FFB742;
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: absolute;
    top: 23px;
    right: 48px;
}
.hello{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.name{
color: #FFF;
font-family:'Inter';
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 50.753px;
text-transform: capitalize;
position: absolute;
top: 191px;
}
.name-one{
  text-decoration: underline;
  color: #FFB742;
}
.prof{
color: #FFF;
text-align: center;
font-family: 'Inter';
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 90.85px; /* 189.271% */
text-transform: capitalize;
position: absolute;
top: 238px;
}
.discribe{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 50.753px; /* 211.472% */
text-transform: capitalize;
position: absolute;
top: 354px;
}

.avatar{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
.avatar-pic{
  position: absolute;
  top: 427px;
}
.cards{
  width:1296px ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 786px;
}
.card{
  width: 416px;
  height: 120px;
  background-color: rgba(56, 62, 69, 0.44);
  border-radius: 8px;
  position: relative;
}
.card:hover{
  background-color: #FFB742;
}
.card-img{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 28px;
  left: 30px;}
.card-text-one{
  width: 180px;
  height: 90px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 150px;
  top: 25px;
}
.text-one{
color: #FFB742;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 126.023%; /* 40.327px */
text-transform: capitalize;
position: absolute;
}
.text-two{
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 193.023%;
text-transform: capitalize;
text-align: center;
}
.card:hover >.card-text-one>.text-one{
  color: #000;
}
.card:hover >.card-text-one .text-two{
  color: #000;
}
.who-i-am{
  margin:0 auto;
  width: 1440px;
  position: relative;
}
.who-i-am-image{
 display: flex;
 flex-wrap: wrap;
 justify-self: left;
 position: absolute;
 top: 1161px;
 left: 5px;
}
.card-who-i-am{
 width: 148px;
 height: 42px;
 border-radius: 50px;
 background-color: rgba(56, 62, 69, 0.44);
 position: absolute;
 top: 1127px;
 left: 707px;
}
.card-who-i-am-text{
display: flex;
align-items: center;
justify-content: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
padding-top: 5px;
color: #FFB742;
}

.about-me{
color: #FFF;
font-family: 'Poppins';
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 62.5% */
position: absolute;
top: 1179px;
left: 717px;
}
.about-me-text{
width: 672px;
color: #D4D4D4;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
position: absolute;
top: 1238px;
right: 50px;
}
.who-i-am-hireme{
  position: absolute;
  top: 1470px;
  left: 717px;
}
.my-skill{
  margin: 0 auto;
  width: 1329px;
  position: relative;
}
.my-skill-logo{
  width: 148px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  position: absolute;
  top: 1775px;
  left: 50px;
}
.my-skill-logo-text{
color: #FFB742;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
padding-top: 5px;
padding-left: 25px;
}
.my-skill-title{
color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 600px;
height: 110px;
position: absolute;
top: 1817px;
left: 50px;
}
.my-skill-text{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
width: 672px;
height: 58px;
position: absolute;
top: 1957px;
left: 60px;
}
.my-skill-icon{
  position: relative;
}
.my-skill-icon-one{
  width:560px ;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  position: absolute;
  top: 1775px;
  left: 829px;
}

.my-skill-icon-link{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #383E45;
 display: flex;
 align-items: center;
 justify-content: center;

}
.my-skill-icon-two{
  width:560px ;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  position: absolute;
  top: 1871px;
  left: 829px;
}
.my-skill-button{
  position: absolute;
  top: 2079px;
  left: 52px;
}
.my-works{
  width: 160px;
  height: 42px;
  background-color:rgba(255, 255, 255, 0.08);
  position: absolute;
  top:2270px ;
  left: 640px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-works-title{
  color: #FFB742;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
}
.featured-works{
height: 56px;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 2312px;
left: 550px;
}

.my-works_nav{
  
}
.my-works__nav_menu{
  max-width: 652px;
  margin: 0 auto;
  
}
.menu__item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2403px;
}
.menu__item_link-text{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 187.5% */
text-decoration: none;
margin-right: 50px;
}

.works-image{
 display: flex;
 justify-content: space-evenly;
 margin-top: 50px;}

.works-image-one{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.works-image-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.works-image-three{
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.wrapper{
  margin: 0 auto;
  max-width: 1250px;
}
.pic{
  padding-top: 15px;
}

.testimonials{
  width: 192px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.testimonials__text{
color: #FFB742;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
}
.comment{
  display: flex;
  justify-content: center;
  margin-top: 135px;
}
.customers-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;

}
.customers-comment__text{
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 39.29px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.cards_two{
  width:1296px ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 90px;
    
}

.card_two{
    background-color: #FFF;
    width: 378px;
    height: 455px;
    border-radius: 8px;
    margin: 0 auto;
    
}

.card_two-content{
    position: relative;
    
}
.star{
  margin-top: 51px;
  margin-left: 33px;



}
.star-icon{
  padding-right: 8px;
}
.card_two_text{
color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
width: 294px;
height: 209px;
position: absolute;
top: 30px;
left: 33px;
}

.foto{
position: absolute;
top: 275px;
left: 32px;

}
.name-two{
color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 170% */
position: absolute;
top: 270px;
left: 125px;
}
.designer{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 212.5% */
  position: absolute;
  top: 312px;
  left: 125px;
}
.footer{
  width: 1440px;
  background-color: #1C1C1C;
  height: 470px;
  margin: 0 auto;
  margin-top: 253px;

  
}

.footer__menu{
  display: flex;
  justify-content: space-around;
  

}
.footer__menu-item{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 250px;
  height: 130px;
}

.footer__link{
  display: flex;

}
.footer__link>h2{
color: #FFB742;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 32px */
}

.footer__link>p{
color: #D4D4D4;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 32.38px; /* 202.374% */
}
.footer__link>h3{
color: #F5FBF2;
font-family: Work Sans;
font-size: 21.587px;
font-style: normal;
font-weight: 700;
line-height: 31.887px; /* 147.717% */
}
.footer__link>a{
  text-decoration: none;
  color: #7B7B7B;
}
.footer__link{
color: #7B7B7B;
font-family: Work Sans;
font-size: 17.989px;
font-style: normal;
font-weight: 500;
line-height: 36.422px;
}
.link{
  color: #7B7B7B
}
.link:hover{
  color: #FFB742;
}


